<div class="container">
  <div class="sign-in-form">
    <div class="card">
      <div class="card-body">
        <div class="brand text-center d-block m-b-30 m-t-20">
          <img src="assets/images/logo/logo.png" alt="DigiPayWallet Logo" style="width: 150px">
        </div>
        <h1 class="sign-in-heading text-center">Link is Expired</h1>
        <p class="text-center m-b-20 text-muted">Please try again</p>
        <a class="btn btn-warning btn-block btn-lg" [routerLink]="['/login']"> Log In</a>
      </div>
    </div>
  </div>
</div>