<!-- End Bradcaump area -->
<!-- Start main Content -->
<div class="maincontent bg--white pt--80 pb--55">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="wn__single__product">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="wn__fotorama__wrapper">
                                <div class="fotorama wn__fotorama__action">
                                    <pinch-zoom [wheel]="true" [wheelZoomFactor]="0.2" [auto-zoom-out]="true">
                                        <img [src]="currentimg" />
                                    </pinch-zoom>
                                </div>

                                <owl-carousel-o [options]="customOptions">
                                    <ng-container *ngFor="let slide of productImageArray">
                                        <ng-template carouselSlide [id]="slide.id">
                                            <a (click)="imgchange(slide.image)">
                                                <img class="img img-rounded" [src]="slide.image">
                                            </a>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="product__info__main">
                                <h1>{{objectArray?.name}}</h1>

                                <div class="product-reviews-summary d-flex">
                                    <ngb-rating style="font-size:25px; color:orangered;" [max]="5"
                                        [rate]="objectArray?.rate" [readonly]=true>
                                    </ngb-rating>
                                </div>
                                <div class="price-box">
                                    <span>₹ {{objectArray?.price |number}}</span>
                                </div>
                                <div class="product__overview">
                                    <p [innerHTML]="objectArray?.product_info"></p>
                                </div>
                                <div class="box-tocart d-flex">
                                    <span>Qty</span>
                                    <input class="input-text qty" (input)="zero($event)" number min="1"
                                        [(ngModel)]="qty" type="number">
                                    <div class="addtocart__actions">
                                        <button class="tocart" type="button" (click)="addToCartwithCheck()"
                                            title="Add to Cart">Add
                                            to Cart</button>
                                    </div>
                                    <div class="product-addto-links clearfix">
                                        <a class="wishlist" (click)="addToWishlistwithCheck()"></a>
                                        <a class="compare" href="#"></a>
                                    </div>
                                </div>
                                <div class="product_meta">
                                    <span class="posted_in">Categories :
                                        <a
                                            [routerLink]="['/shop-grid', {c_n:category_id?.label,c_:category_id?.value}]">
                                            {{category_id?.label}}</a>
                                    </span>
                                </div>
                                <div class="product_meta">
                                    <span class="posted_in">Brand :
                                        <a [routerLink]="['/shop-grid', {b_n:brand_id?.label,b_:brand_id?.value}]">
                                            {{brand_id?.label}}</a>
                                    </span>
                                </div>
                                <div class="product-share">
                                    <ul>
                                        <li class="categories-title">Share :</li>
                                        <li>
                                            <a href="https://twitter.com/intent/tweet?url=https://sohildev.github.io/RoyalShopping"
                                                target="_blank">
                                                <i class="icon-social-twitter icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.tumblr.com/share/link?url=https://www.google.com"
                                                target="_blank">
                                                <i class="icon-social-tumblr icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/sharer.php?t=RoyalShopping&quote={{objectArray?.name}}&quote={{objectArray?.product_info}}&u=https://sohildev.github.io/RoyalShopping&u=https://sohildev.github.io/RoyalShopping/assets/images/logo/3.gif"
                                                target="_blank">
                                                <i class="icon-social-facebook icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/shareArticle/?mini=true&url=https://sohildev.github.io/RoyalShopping&title=RoyalShopping&summary=https://sohildev.github.io/RoyalShopping&source=https://sohildev.github.io/RoyalShopping"
                                                target="_blank">
                                                <i class="icon-social-linkedin icons"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__info__detailed">
                    <div class="pro_details_nav nav justify-content-start" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
                    </div>
                    <div class="tab__container">
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
                            <div class="description__attribute">
                                <div id="prodetails"></div>
                            </div>
                        </div>
                        <!-- End Single Tab Content -->
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
                            <div class="review__attribute">
                                <h1>Customer Reviews</h1>
                                <ng-container *ngFor="let rewitem of customerReviewList;let ll=last">
                                    <h3>{{rewitem?.subject}}</h3>
                                    <p class="text-primary">{{rewitem?.massage}}</p>
                                    <div id="mcvncmxvncxmvnxcm" class="review__ratings__type d-flex">
                                        <div class="review-ratings">
                                            <div class="rating-summary d-flex">
                                                <span>Quality</span>
                                                <ul class="rating d-flex">
                                                    <ng-container *ngFor="let qrs of [1,2,3,4,5]">
                                                        <li [ngClass]="qrs > rewitem?.quality_rate ? 'off' : ''">
                                                            <i class="zmdi zmdi-star"></i>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </div>

                                            <div class="rating-summary d-flex">
                                                <span>Price</span>
                                                <ul class="rating d-flex">
                                                    <ng-container *ngFor="let prs of [1,2,3,4,5]">
                                                        <li [ngClass]="prs > rewitem?.price_rate ? 'off' : ''">
                                                            <i class="zmdi zmdi-star"></i>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                            <div class="rating-summary d-flex">
                                                <span>value</span>
                                                <ul class="rating d-flex">
                                                    <ng-container *ngFor="let vrs of [1,2,3,4,5]">
                                                        <li [ngClass]="vrs > rewitem?.value_rate ? 'off' : ''">
                                                            <i class="zmdi zmdi-star"></i>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="review-content">
                                            <span class="text-success">{{rewitem?.name}}</span>
                                            <p>Review by {{rewitem?.name}}</p>
                                            <span class="text-danger" *ngIf="rewitem?.insert_date">Posted on
                                                {{rewitem?.insert_date |date}}</span>
                                        </div>
                                    </div>
                                    <hr *ngIf="!ll" class="mt-3 mb-2">
                                </ng-container>
                                <pagination class="mt-5" [paginationList]="pagination" [currentPage]="currentPage"
                                    (onPageChange)="getPage($event)">
                                </pagination>
                            </div>
                            <div class="review-fieldset">
                                <form [formGroup]="addForm" (ngSubmit)="submitForm(addForm)" role="form">
                                    <h2>You're reviewing:</h2>
                                    <div class="mt-3 review-field-ratings">
                                        <div class="product-review-table">
                                            <div class="form-group">
                                                <label class="control-label">Quality
                                                </label>
                                                <ngb-rating class="ml-5" style="font-size:25px; color:green;" [max]="5"
                                                    [formControl]="addForm.controls['quality_rate']">
                                                </ngb-rating>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price
                                                </label>
                                                <ngb-rating class="ml-5" style="font-size:25px; color:blue;" [max]="5"
                                                    [formControl]="addForm.controls['price_rate']">
                                                </ngb-rating>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">value
                                                </label>
                                                <ngb-rating class="ml-5" style="font-size:25px; color:orangered;"
                                                    [max]="5" [formControl]="addForm.controls['value_rate']">
                                                </ngb-rating>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review_form_field">
                                        <div class="input__box">
                                            <span>Nickname</span>
                                            <input type="text" [formControl]="addForm.controls['name']" readonly>
                                        </div>
                                        <div class="input__box">
                                            <span>Email</span>
                                            <input type="text" [formControl]="addForm.controls['email']" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Summary
                                            </label>
                                            <input class="form-control" type="text"
                                                [formControl]="addForm.controls['subject']"
                                                placeholder="Summary here....">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Review
                                            </label>
                                            <textarea class="form-control" rows="3"
                                                [formControl]="addForm.controls['massage']"
                                                placeholder="Review here...."></textarea>
                                        </div>
                                        <div class="review-form-actions">
                                            <div *ngIf="formErrors"
                                                class="col m-2 shadow-none rounded alert alert-danger alert-dismissible fade show"
                                                role="alert">
                                                <strong>Invalid Data</strong>
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <button type="submit">Submit Review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Single Tab Content -->
                    </div>
                </div>
                <div class="wn__related__product pt--80 pb--50">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">Related Products</h2>
                    </div>
                    <div class="mt--60">
                        <owl-carousel-o class="furniture--4 border--round arrows_style  owl-theme row mt--50"
                            [options]="customOptions">
                            <ng-container *ngFor="let rcati of relatedCatProdArray;let i=index;">
                                <ng-template carouselSlide [id]="rcati.id">
                                    <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12 ">
                                        <div class="product__thumb ">
                                            <a (click)="pagechange(rcati)" class="first__img ">
                                                <img class="img" style="height: 340px;width: 270px;"
                                                    [src]="rcati.image ? rcati.image:'assets/images/books/1.jpg'"
                                                    alt="product image" /></a>
                                            <a class="second__img animation1" (click)="pagechange(rcati)">
                                                <img class="img" style="height: 340px;width: 270px;"
                                                    [src]="rcati.image ? rcati.image:'assets/images/books/1.jpg'"
                                                    alt="product image" /></a>
                                            <div class="hot__box" [ngClass]="{'color--2': (i%2)}">
                                                <span *ngIf="rcati?.brand_id"
                                                    class="hot-label">{{getjson(rcati?.brand_id)?.label}}</span>
                                            </div>
                                        </div>
                                        <div class="product__content content--center ">
                                            <h4><a>{{rcati?.name}}</a></h4>
                                            <ul class="prize d-flex ">
                                                <li>₹ {{rcati?.price}}</li>
                                                <li class="old_prize ">₹ {{rcati?.price +10}}</li>
                                            </ul>
                                            <div class="action ">
                                                <div class="actions_inner ">
                                                    <ul class="add_to_links ">
                                                        <li><a class="cart" (click)="raddToCartwithCheck(rcati)"><i
                                                                    class="bi bi-shopping-bag4"></i></a></li>
                                                        <li><a class="wishlist"
                                                                (click)="raddToWishlistwithCheck(rcati)"><i
                                                                    class="bi bi-shopping-cart-full"></i></a></li>
                                                        <li><a class="compare " href="# "><i
                                                                    class="bi bi-heart-beat "></i></a>
                                                        </li>
                                                        <li><a data-toggle="modal " title="Quick View "
                                                                class="quickview modal-view detail-link "
                                                                href="#productmodal "><i class="bi bi-search "></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__hover--content ">
                                                <ul class="rating d-flex ">
                                                    <ng-container *ngFor="let qrs of [1,2,3,4,5]">
                                                        <li [ngClass]="qrs > rcati?.rate ? '' : 'on'">
                                                            <i class="fa fa-star-o"></i>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
                <div class="wn__related__product ">
                    <div class="section__title text-center ">
                        <h2 class="title__be--2 ">upsell products</h2>
                    </div>
                    <div class="mt--60">
                        <owl-carousel-o class="furniture--4 border--round arrows_style  owl-theme row mt--50"
                            [options]="customOptions">
                            <ng-container *ngFor="let rcati of relatedBrandProdArray;let i=index;">
                                <ng-template carouselSlide [id]="rcati.id">
                                    <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12 ">
                                        <div class="product__thumb ">
                                            <a (click)="pagechange(rcati)" class="first__img ">
                                                <img class="img" style="height: 340px;width: 270px;"
                                                    [src]="rcati.image ? rcati.image:'assets/images/books/1.jpg'"
                                                    alt="product image" /></a>
                                            <a class="second__img animation1" (click)="pagechange(rcati)">
                                                <img class="img" style="height: 340px;width: 270px;"
                                                    [src]="rcati.image ? rcati.image:'assets/images/books/1.jpg'"
                                                    alt="product image" /></a>
                                            <div class="hot__box" [ngClass]="{'color--2': (i%2)}">
                                                <span *ngIf="rcati?.brand_id"
                                                    class="hot-label">{{getjson(rcati?.brand_id)?.label}}</span>
                                            </div>
                                        </div>
                                        <div class="product__content content--center ">
                                            <h4><a>{{rcati?.name}}</a></h4>
                                            <ul class="prize d-flex ">
                                                <li>₹ {{rcati?.price}}</li>
                                                <li class="old_prize ">₹ {{rcati?.price +10}}</li>
                                            </ul>
                                            <div class="action ">
                                                <div class="actions_inner ">
                                                    <ul class="add_to_links ">
                                                        <li><a class="cart" (click)="raddToCartwithCheck(rcati)"><i
                                                                    class="bi bi-shopping-bag4"></i></a></li>
                                                        <li><a class="wishlist"
                                                                (click)="raddToWishlistwithCheck(rcati)"><i
                                                                    class="bi bi-shopping-cart-full"></i></a></li>
                                                        <li><a class="compare " href="# "><i
                                                                    class="bi bi-heart-beat "></i></a>
                                                        </li>
                                                        <li><a data-toggle="modal " title="Quick View "
                                                                class="quickview modal-view detail-link "
                                                                href="#productmodal "><i class="bi bi-search "></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__hover--content ">
                                                <ul class="rating d-flex ">
                                                    <ng-container *ngFor="let qrs of [1,2,3,4,5]">
                                                        <li [ngClass]="qrs > rcati?.rate ? '' : 'on'">
                                                            <i class="fa fa-star-o"></i>
                                                        </li>
                                                    </ng-container>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
                <div class="wn__related__product ">
                    <div class="section__title text-center ">
                        <h2 class="title__be--2 ">Special Products</h2>
                    </div>
                    <div class="mt--60">
                        <owl-carousel-o class="furniture--4 border--round arrows_style  owl-theme row mt--50"
                            [options]="customOptions">
                            <ng-container *ngFor="let rcati of relatedCmpProdArray;let i=index;">
                                <ng-template carouselSlide [id]="rcati.id">
                                    <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12 ">
                                        <div class="product__thumb ">
                                            <a (click)="pagechange(rcati)" class="first__img ">
                                                <img class="img" style="height: 340px;width: 270px;"
                                                    [src]="rcati.image ? rcati.image:'assets/images/books/1.jpg'"
                                                    alt="product image" /></a>
                                            <a class="second__img animation1" (click)="pagechange(rcati)">
                                                <img class="img" style="height: 340px;width: 270px;"
                                                    [src]="rcati.image ? rcati.image:'assets/images/books/1.jpg'"
                                                    alt="product image" /></a>
                                            <div class="hot__box" [ngClass]="{'color--2': (i%2)}">
                                                <span *ngIf="rcati?.brand_id"
                                                    class="hot-label">{{getjson(rcati?.brand_id)?.label}}</span>
                                            </div>
                                        </div>
                                        <div class="product__content content--center ">
                                            <h4><a>{{rcati?.name}}</a></h4>
                                            <ul class="prize d-flex ">
                                                <li>₹ {{rcati?.price}}</li>
                                                <li class="old_prize ">₹ {{rcati?.price +10}}</li>
                                            </ul>
                                            <div class="action ">
                                                <div class="actions_inner ">
                                                    <ul class="add_to_links ">
                                                        <li><a class="cart" (click)="raddToCartwithCheck(rcati)"><i
                                                                    class="bi bi-shopping-bag4"></i></a></li>
                                                        <li><a class="wishlist"
                                                                (click)="raddToWishlistwithCheck(rcati)"><i
                                                                    class="bi bi-shopping-cart-full"></i></a></li>
                                                        <li><a class="compare " href="# "><i
                                                                    class="bi bi-heart-beat "></i></a>
                                                        </li>
                                                        <li><a data-toggle="modal " title="Quick View "
                                                                class="quickview modal-view detail-link "
                                                                href="#productmodal "><i class="bi bi-search "></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__hover--content ">
                                                <ul class="rating d-flex ">
                                                    <ng-container *ngFor="let qrs of [1,2,3,4,5]">
                                                        <li [ngClass]="qrs > rcati?.rate ? '' : 'on'">
                                                            <i class="fa fa-star-o"></i>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 md-mt-40 sm-mt-40 ">
                <div class="shop__sidebar ">
                    <aside class="wedget__categories poroduct--cat ">
                        <h3 class="wedget__title ">Product Categories</h3>
                        <ul>
                            <li *ngFor="let catitem of catergoryList; let i=index">
                                <a [routerLink]="['/shop-grid', {c_n:catitem?.label,c_:catitem?.value}]">{{catitem?.label}}
                                    <span>( {{i+1}} )</span>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="wedget__categories poroduct--tag ">
                        <h3 class="wedget__title ">Product Brand</h3>
                        <ul>
                            <li *ngFor="let branditem of brandList; let i=index">
                                <a
                                    [routerLink]="['/shop-grid', {b_n:branditem?.label,b_:branditem?.value}]">{{branditem?.label}}</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="wedget__categories sidebar--banner ">
                        <img src="assets/images/others/banner_left.jpg " alt="banner images ">
                        <div class="text ">
                            <h2>new products</h2>
                            <h6>save up to <br> <strong>40%</strong>off</h6>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End main Content -->
<loder [show]="loadingState"></loder>

<style>
    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ebebeb;
        border-radius: .0rem;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>
