<!-- Start My Account Area -->
<section class="my_account_area pt--80 pb--55 bg--white">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">

        <div class="my__account__wrapper shadow p-3 mb-5 bg-white rounded">
          <h3 class="account__title">Forgotten Password?</h3>
          <p class="text-center m-b-20 text-muted">Enter your New Password, After Login Your Account it's work
            succssesfully </p>
          <div *ngIf="formErrors.success" class="alert mt-2 alert-success alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span [innerHTML]="formErrors.success"> </span>
          </div>
          <div *ngIf="formErrors.error" class="alert alert-danger alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span [innerHTML]="formErrors.error"> </span>
          </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()" role="form">
            <div class="account__form">
              <div class="input__box">
                <label>New Password<span>*</span></label>
                <input type="password" class="form-control" placeholder="New password"
                  [formControl]="resetPasswordForm.controls['password']">
              </div>
              <div class="input__box">
                <label>Password<span>*</span></label>
                <input type="password" class="form-control" placeholder="Confirm password"
                  [formControl]="resetPasswordForm.controls['confirm_password']">
              </div>
              <div class="form__btn">
                <button type="submit" [disabled]="showLoader">
                  <i *ngIf="!showLoader" class="fa fa-check"></i>
                  <i *ngIf="showLoader" class="fa fa-spinner fa-spin"></i>
                  Reset Password</button>
              </div>
              <a class="forget_pass" routerLink="/forgot-password">Lost your password?</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End My Account Area -->