<!-- Start My Account Area -->
<section class="my_account_area pt--80 pb--55 bg--white">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">

        <div class="my__account__wrapper shadow p-3 mb-5 bg-white rounded">
          <h3 class="account__title">Forgotten Password?</h3>
          <p class="text-center m-b-20 text-muted">Enter your email address below, and we'll email instructions for
            setting a new one.</p>
          <div *ngIf="formErrors.success" class="alert mt-2 alert-success alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span [innerHTML]="formErrors.success"> </span>
          </div>
          <div *ngIf="formErrors.error" class="alert alert-danger alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span [innerHTML]="formErrors.error"> </span>
          </div>
          <form class="sign-in-form" [formGroup]="forgotForm" (ngSubmit)="submitForm()">
            <div class="account__form ">
              <div class="input__box">
                <label> Email address <span>*</span></label>
                <input [formControl]="forgotForm.controls['email']" type="email" placeholder="Email ID">
              </div>
              <div class="form__btn">
                <button type="submit" [ngClass]="{'fa fa-spinner fa-spin': showLoader}"
                  [disabled]="showLoader">Submit</button>
              </div>
              <p class="text-muted m-t-25 m-b-0 p-0 text-center">Remember Password?<a routerLink="/login"> Sign In</a>
              </p>

            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End My Account Area -->